.harry {
    background-color: rgba(30, 210, 108, 0.703);
}


.five{
    text-align: center;
    background-color: rgba(251, 255, 0, 0.823);
}

#demo {
    margin: 200px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.836);
    border-radius: 15px 10px ;
    box-shadow: 10px 10px 12px 10px;
}
#two {
    border-radius: 15px;
}
#three {
    border-radius: 15px;
}
button {
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
}
#clay {
    background-color: rgba(252, 255, 80, 0.858);
}